.header { 
    &__button {
        background: none !important;
        color: black !important;
    }
    .activeBtn {
        background: #0d6efd !important;
        color: white !important;
    }
}