.viewPage {
    &__sider {
        position: fixed;
        top: 35px;
        color: black;
        background-color: white !important;
        margin-right: 20px;
        width: 50px;
    }
    &__panel {
        width: 200px;
    }
    &__layout {
        margin-top: 80px;
        background-color: white;
    }
}
.ant-collapse-header-collapsible-only {
    cursor: pointer !important;
}
